## .NET
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.user
*.suo
*.userosscache
*.sln.docstates

## Allow release folder exe
!release/
!release/*.exe

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
bin/[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
